<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all posts</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
   <section>
    <div class="container lg:max-w-[1200px] mx-auto lg:px-0 px-4">
         <h1 class="text-center uppercase font-bold text-4xl pt-3 pb-5">Blog Posts</h1>
         <div class="flex flex-wrap">
             <% for(posts of posts){ %>
             <div class="w-3/12 px-3">
                 <div class="bg-red-400 p-5 rounded-sm">
                     <h3 class="font-semibold">@username : <%= posts.username %></h3>
                     <h4 class="font-semibold pt-2">@content : <%= posts.content %></h4>
                     <div class="flex gap-4 pt-4">
                         <a class="hover:text-blue-500 text-white transition-all duration-300 pb-0 border-b border-blue-400 font-medium text-sm"
                             href="https://api-with-ejs.onrender.com/posts/<%=posts.id %>">see in details</a>
                         <a class="hover:text-blue-500 text-white transition-all duration-300 pb-0 border-b border-blue-400 font-medium text-sm"
                             href="https://api-with-ejs.onrender.com/posts/<%=posts.id %>/edit">Edit</a>
                     </div>
                     <br>
                     <form method="post" action="/posts/<%= posts.id %>?_method=DELETE">
                         <button
                             class="py-2 px-3 bg-blue-500 hover:scale-110 transition-all duration-300 text-white rounded-lg text-sm">Delete
                             post</button>
                     </form>
                 </div>
             </div>
             <% } %>
         </div>
         <a class="hover:text-blue-500 ms-3 pt-4 transition-all duration-300 pb-0 border-b border-blue-400 font-medium text-sm"
             href="https://api-with-ejs.onrender.com/posts/new">create new posts</a>
    </div>
   </section>
</body>

</html>